<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="pcaxis">
      <sectionGroup name="paxiom">
        <section name="localization" type="PCAxis.Paxiom.Configuration.Sections.LocalizationSection, PCAxis.Core"/>
        <section name="grouping" type="PCAxis.Paxiom.Configuration.Sections.GroupingSection, PCAxis.Core"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <pcaxis>
    <paxiom>
      <localization filespath="..\..\Resources\Languages" basefile="pxlang"/>
      <grouping filespath="..\..\Resources\Aggregations"/>
    </paxiom>
  </pcaxis>
  <appSettings>
    <!-- Configuration file for predefined databases -->
    <add key="databasesConfigFile" value="..\..\Resources\DbConfig\databases.config"/>
        
    <!-- Configuration file for CNMM databases-->
    <add key="dbconfigFile" value="..\..\Resources\DbConfig\SqlDb.Config"/>
    
    
    <!-- Default language in PxWin -->
    <add key="defaultLanguage" value="en"/>
    
    <!-- Path to the PX-Batch program -->
    <add key="batchApplicationPath" value="\\path_to_batch-program\PCAxis.Batch.exe"/>
    
    <!-- Maximum number of cells that can be selected for presentation for a table -->
    <add key="maxCells" value="10000000"/>
    
    <!-- If database menu cache shall be used or not -->
    <add key="databaseMenuCacheEnabled" value="True"/>
    
    <!-- Interval in hours for when the database menu cache will be automatically refreshed -->
    <add key="databaseMenuCacheRefreshInterval" value="48"/>

    <!-- Folder for global filter -->
    <add key="globalFilter" value="\\path_to_global_filter_folder"/>

    <!-- If strict aggregation check shall be performed or not -->
    <add key="strictAggregationCheck" value="True"/>
    
    <!-- Store PX-model in temp-file if number of cells exceeds this value -->
    <add key="MaxCellsInMemory" value="20000000"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.SqlClient" publicKeyToken="23ec7fc2d6eaa4a5" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.13.20136.2" newVersion="1.13.20136.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
