<?xml version="1.0" encoding="ISO-8859-1" ?>
<databases>
  <database id="demo_CNMM" type="CNMM" name="CNMM database">
  </database>
   <database id="demo_PX" type="PX" name="PX database">
      <params>
         <path>path_to_Demo_database</path>
      </params>
   </database>
   <database id="ssd_api" type="PXAPI" name="Statistics Sweden API">
      <params>
         <baseUrl>http://api.scb.se/OV0104/v1/doris/{0}/ssd/</baseUrl>
         <supportedLanguages>sv,en</supportedLanguages>
      </params>
   </database>
</databases>