<?xml version="1.0" encoding="ISO-8859-1" ?>
<databases>
  <database id="demo_CNMM" type="CNMM" name="CNMM database">
  </database>
   <database id="demo_PX" type="PX" name="PX database">
      <params>
         <path>path_to_Demo_database</path>
      </params>
   </database>
   <database id="ssd_api" type="PXAPI" name="Statistics Sweden API">
      <params>
         <baseUrl>https://api.scb.se/OV0104/v1/doris/{0}/ssd/</baseUrl>
         <supportedLanguages>sv,en</supportedLanguages>
      </params>
   </database>
   <database id="no_api" type="PXAPI" name="Statistics Norway API">
      <params>
         <baseUrl>http://data.ssb.no/api/v0/{0}/table</baseUrl>
         <supportedLanguages>no,en</supportedLanguages>
      </params>
   </database>
   <database id="fi_api" type="PXAPI" name="Statistics Finland API">
      <params>
         <baseUrl>https://pxnet2.stat.fi/PXWeb/api/v1/{0}/StatFin</baseUrl>
         <supportedLanguages>fi,sv,en</supportedLanguages>
      </params>
   </database>
   <database id="lv_api_latvia" type="PXAPI" name="Statistics Latvia API">
      <params>
         <baseUrl>https://data.stat.gov.lv/api/v1/{0}/OSP_PUB/</baseUrl>
         <supportedLanguages>en,lv</supportedLanguages>
      </params>
   </database>
   <database id="is_api_iceland" type="PXAPI" name="Statistics Iceland API">
      <params>
         <baseUrl>http://px.hagstofa.is/pxen/api/v1/{0}/Atvinnuvegir/</baseUrl>
         <supportedLanguages>en</supportedLanguages>
      </params>
   </database>
   <database id="is_api_ireland" type="PXAPI" name="Statistics Ireland API">
      <params>
         <baseUrl>https://ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.PxAPIv1/{0}/</baseUrl>
         <supportedLanguages>en,ga</supportedLanguages>
      </params>
   </database>
</databases>
