<?xml version="1.0" encoding="iso-8859-1"?>
<SqlDbConfig version="2008" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="SqlDbConfig.xsd">


  <Database id="demo_CNMM" metaModel="2.3">
    <Descriptions>
      <Description lang="sv">CNMM databas</Description>
      <Description lang="en">CNMM database</Description>
    </Descriptions>
    <Connection databaseType="MSSQLSERVER" dataProvider="Sql" useTemporaryTables="true">
      <ConnectionString>Data Source=--SERVER--;Initial Catalog=--DATABASE--;enlist=false;User Id=USER;Password=PASSWORD;</ConnectionString>
      <DefaultUser>-USER-</DefaultUser>
      <DefaultPassword>--PASSWORD--</DefaultPassword>
    </Connection>
    <Languages>
      <Language main="true" name="Swedish" code="sv" metaSuffix="" />
      <Language main="false" name="English" code="en" metaSuffix="ENG" />
    </Languages>
    <Codes />

    <Keywords>
    </Keywords>
    <Tables>
      <Table modelName="Contents" tableName="Contents" alias="CNT">
        <Columns>
          <Column modelName="LastUpdated" columnName="Published"/>
        </Columns>
      </Table>
    </Tables>
  </Database>

</SqlDbConfig>
