<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="pcaxis">
      <sectionGroup name="paxiom">
        <section name="localization" type="PCAxis.Paxiom.Configuration.Sections.LocalizationSection, PCAxis.Core"/>
        <section name="grouping" type="PCAxis.Paxiom.Configuration.Sections.GroupingSection, PCAxis.Core"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <pcaxis>
    <paxiom>
      <localization filespath="..\..\..\PCAxis.Desktop\Resources\Languages" basefile="pxlang"/>
      <grouping filespath="..\..\..\PCAxis.Desktop\Resources\Languages"/>
    </paxiom>
  </pcaxis>
  <appSettings>
    <add key="databasesConfigFile" value="..\..\..\PCAxis.Desktop\Resources\\DbConfig\databases.config"/>
    <add key="dbconfigFile" value="..\..\..\PCAxis.Desktop\Resources\\DbConfig\SqlDb.Config"/>
    <add key="defaultLanguage" value="en"/>
  </appSettings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.SqlClient" publicKeyToken="23ec7fc2d6eaa4a5" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.13.20136.2" newVersion="1.13.20136.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
